In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
from google.colab import files
uploaded=files.upload()

Saving Fraud_check.csv to Fraud_check (1).csv

In [59]:
data=pd.read_csv("Fraud_check.csv")

In [60]:
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [63]:
data.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [65]:
data.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [66]:
data['Undergrad'] = data['Undergrad'].apply(lambda x: 1 if x=='YES' else 0)
data['Urban'] = data['Urban'].apply(lambda x: 1 if x=='YES' else 0)
data['Taxable.Income'] = data['Taxable.Income'].apply(lambda x: 'Risky' if x>30000  else 'Good')

In [68]:
data['Marital.Status'].value_counts()

Single      217
Married     194
Divorced    189
Name: Marital.Status, dtype: int64

In [69]:

data['Marital.Status'] = data['Marital.Status'].map({'Single':1, 'Married':2, 'Divorced':3})

In [70]:
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,1,Risky,50047,10,1
1,1,3,Risky,134075,18,1
2,0,2,Risky,160205,30,1
3,1,1,Risky,193264,15,1
4,0,2,Risky,27533,28,0
...,...,...,...,...,...,...
595,1,3,Risky,39492,7,1
596,1,3,Risky,55369,2,1
597,0,3,Risky,154058,0,1
598,1,2,Risky,180083,17,0
599,0,3,Risky,158137,16,0

In [71]:
data['Marital.Status'].value_counts()

1    217
2    194
3    189
Name: Marital.Status, dtype: int64

In [72]:
import seaborn as sns

In [73]:
## riskey = 0 , good = 1
data['Taxable.Income'] = data['Taxable.Income'].apply(lambda x: 0 if x== 'Risky'  else 1)

In [74]:
## Train test the data
train = data.drop('Taxable.Income',axis=1)
test = data['Taxable.Income']

In [75]:

## train test split
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size = 0.3,random_state = 1)

#Standardize the data

In [77]:
from sklearn.preprocessing import StandardScaler

In [78]:
scaler = StandardScaler()

In [79]:
col = X_train.columns
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [80]:
X_train = pd.DataFrame(X_train, columns=col)
X_test = pd.DataFrame(X_test, columns=col)

In [81]:
X_train.shape

(420, 5)

In [82]:
X_test.shape

(180, 5)

#Random forest classification

In [83]:

from sklearn.ensemble import RandomForestClassifier

In [84]:
model = RandomForestClassifier(n_estimators= 100)

In [85]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [86]:
model_pred = model.predict(X_test)

In [87]:
model_actual_predict = pd.DataFrame({'Actual': y_test, 'Predict': model_pred})

In [88]:
model_actual_predict[20:40]

     Actual  Predict
13        0        0
510       0        0
268       0        0
358       0        0
289       0        1
483       1        0
429       0        0
47        0        0
223       0        0
185       0        0
430       0        0
308       0        0
120       0        0
250       0        0
111       0        0
293       0        0
65        0        1
477       0        0
573       0        0
449       0        0

In [89]:
model.score(X_test, y_test)*100

78.88888888888889

#Bagging decision tree for classification

In [90]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [91]:
model2= BaggingClassifier(base_estimator= DecisionTreeClassifier(), max_samples = 0.5, max_features =1.0, n_estimators = 100, random_state=8)

In [92]:
model2.fit(X_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.5,
                  n_estimators=100, random_state=8)

In [93]:
model2_prid = model2.predict(X_test)

In [94]:

model2_actual_prid = pd.DataFrame({'Actual':y_test, 'Pridict': model2_prid})

In [95]:
model2_actual_prid[:10]

     Actual  Pridict
446       1        0
404       0        0
509       1        0
455       0        0
201       0        0
23        0        0
415       0        0
548       0        0
66        0        0
165       0        0

In [96]:
model2.score(X_test, y_test)

0.7888888888888889

#Boost classification

In [97]:

from sklearn.ensemble import AdaBoostClassifier

In [98]:
model3 = AdaBoostClassifier(base_estimator= DecisionTreeClassifier(), n_estimators=100, learning_rate=1)

In [99]:
model3.fit(X_train, y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(), learning_rate=1,
                   n_estimators=100)

In [100]:
model3_pred = model3.predict(X_test)

In [101]:
model3_actual_predict = pd.DataFrame({"Actual": y_test, 'Predict': model3_pred})

In [102]:
model3_actual_predict[:10]

     Actual  Predict
446       1        1
404       0        1
509       1        0
455       0        0
201       0        0
23        0        0
415       0        0
548       0        1
66        0        0
165       0        1

In [103]:
model3.score(X_test, y_test)

0.6444444444444445

#Build the Random Forest model using kfold

In [104]:

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier

In [105]:
kfold = KFold(n_splits=10)

In [106]:
num_trees = 100

In [107]:
max_feature = 3

In [108]:
model4 = RandomForestClassifier(n_estimators=num_trees, max_features= max_feature)

In [110]:

model4  = cross_val_score(model4 , train , test, cv=kfold)

In [111]:
model4

array([0.78333333, 0.75      , 0.66666667, 0.68333333, 0.76666667,
       0.61666667, 0.85      , 0.7       , 0.75      , 0.85      ])

In [112]:
model4 .mean()*100

74.16666666666666

In [113]:
model4.std()*100

7.236097782030804